annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
async-timeout==5.0.1
asyncpg==0.30.0
certifi==2025.11.12
# cffi==1.17.1
click==8.1.8
cryptography==46.0.3
dnspython==2.6.1
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.121.2
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
pip-chill==1.0.3
pwdlib==0.2.1
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.2
PyJWT==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.3
rich==14.2.0
rich-toolkit==0.17.0
rignore==0.7.6
sentry-sdk==2.46.0
shellingham==1.5.4
sniffio==1.3.1
starlette==0.44.0
tomli==2.3.0
typer==0.20.0
typing_extensions==4.13.2
urllib3==2.2.3
uvicorn==0.33.0
uvloop==0.22.1
watchfiles==0.24.0
websockets==13.1
celery
redis
phonenumbers
email-validator
aiosmtplib
psycopg2-binary==2.9.10

